@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-Very-Dark-Magenta: hsl(300, 43%, 22%);
    --p-Soft-Pink: hsl(333, 80%, 67%);

    --n-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --n-Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --n-White: hsl(0, 0%, 100%);
}

body{
    font-family: 'League Spartan', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

p{
    line-height: 1.3em;
}

main{
    width: 80%;
    margin: auto;
    font-size: .9375rem;
    padding: 3.125rem;
}


.text-box h1{
    color: var(--p-Very-Dark-Magenta);
    width: 21.875rem;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    line-height: 1em;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125rem;
}
.text-box p{
    width: 23.4375rem;
    color: var(--n-Dark-Grayish-Magenta);
    font-weight: 500;
}

.ratings1{
    background: var(--n-Light-Grayish-Magenta);
    width: 24.6875rem;
    margin-top: .9375rem;
    margin-left: 1.25rem;
    display: flex;
    padding: .875rem 1.5625rem;
    border-radius: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.ratings2{
    background: var(--n-Light-Grayish-Magenta);
    width: 24.6875rem;
    margin-top: .9375rem;
    margin-left: 3.75rem;
    display: flex;
    padding: .875rem 1.5625rem;
    border-radius: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.ratings3{
    background: var(--n-Light-Grayish-Magenta);
    width: 24.6875rem;
    margin-left: 6.25rem;
    margin-right: 0;
    margin-top: .875rem;
    display: flex;
    padding: .875rem 1.5625rem;
    border-radius: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

svg{
    margin: 0 .1875rem;
}

.ratings1 p{
    color: var(--p-Very-Dark-Magenta);
    margin-left: 1.25rem;
}

.ratings2 p{
    color: var(--p-Very-Dark-Magenta);
    margin-left: 1.25rem;
}

.ratings3 p{
    color: var(--p-Very-Dark-Magenta);
    margin-left: 1.25rem;
}

.star-reviews{
    margin-right: 6.25rem;
}

.report-guru{
    margin-right: 3.125rem;
}

.review-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem; 
}

.review-card{
    background: var(--p-Very-Dark-Magenta);
    padding: 1.5625rem;
    width: 19.5625rem;
    border-radius: .4375rem;
    height: 12.5rem;
}

.user-details{
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.review-card img{
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
}

.user-information{
    margin-left: 1.25rem;
}

.username{
    color: var(--n-White);
}

.user-status{
    color: var(--p-Soft-Pink);
    margin-top: 1.25rem;
}

.review{
    color: var(--n-White);
}


.two{
    margin-top: 1.25rem;
}
.three{
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1300px) {
    .review-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem; 
    }
    .one{
        margin:0;
        align-items: flex-start;
    }
    .two{
        margin:0;
        align-items: center;
    }
    .three{
        margin:0;
        align-items: flex-end;
    }
}

/* tablet */
@media only screen and (max-width: 950px) {
    .hero-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.125rem;
        justify-content: center;
        align-items: center;
    }
    .text-box{
        text-align: center;
    }
    .text-box h1{
        width: auto;
        margin: 0;
        margin-bottom: 1.25rem;
    }
    .text-box p{
        width: auto;
    }
    .proof-section{
        display: grid;
    }
    .ratings1{
        margin: auto;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        width: 22.8125rem;
    }
    .ratings2{
        margin: auto;
        margin-top: .9375rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        width: 22.8125rem;
    }
    .ratings3{
        margin: auto;
        margin-top: .9375rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        max-width: 22.8125rem;
    }
    .review-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* mobile 450px */
@media only screen and (max-width: 450px) {
    .hero-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.125rem;
        justify-content: center;
        align-items: center;
    }
    .text-box h1{
        width: auto;
        margin: 0;
        margin-bottom: 1.25rem;
        text-align: center;

    }
    .text-box p{
        text-align: center;
        width: auto;
    }
    main{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ratings1{
        margin: auto;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        width: 22.8125rem;
    }
    .ratings2{
        margin: auto;
        margin-top: .9375rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        width: 20.9375rem;
    }
    .ratings3{
        margin: auto;
        margin-top: .9375rem;
        display: flex;
        flex-direction: column;
        padding: .875rem 1.5625rem;
        border-radius: .3125rem;
        justify-content: center;
        align-items: center;
        max-width: 19.0625rem;
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 3.75rem 1.25rem;
        justify-content: center;
        align-items: center;
        background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;

    }
    .ratings1 p{
        margin: 0;
    }
    .ratings2 p{
        margin: 0;
    }
    .ratings3 p{
        margin: 0;
    }
    .review-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .review-card{
        padding: 1.5625rem;
        max-width: 19.0625rem;
    }
    .three{
        margin-top: 1.25rem;
    }
    .stars{
        margin-bottom: .3125rem;
    }
    .proof-section{
        justify-content: center;
        align-items: center;
    }
}
    
